[submodule "conextsolution/ConextSolution"]
	path = conextsolution/ConextSolution
	url = git@github.com:conextsolution/ConextSolution.git
	branch = master

[submodule "conextsolution/recruitment"]
	path = conextsolution/recruitment
	url = git@github.com:conextsolution/recruitment.git
	branch = master

[submodule "conextsolution/Marketing"]
	path = conextsolution/Marketing
	url = git@github.com:conextsolution/Marketing.git
	branch = demo_marketing
